*{margin: 0; padding: 0; border: 0; outline: none;}
body{font-family: 'Open Sans', sans-serif; font-size: 30px; line-height: 48px; color: black;}
.container{width: 1005px; margin: 0 auto;}
h1{
	font-family: 'Open Sans', sans-serif; font-size: 105px; font-weight: bold;
}
.pull-left{float: left;}
.pull-right{float: right;}