body{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	background-color: #F0F0F0; 
	height: auto;
}
a{
	text-decoration: none;
	color: #3e3e3e;
}
a:hover{
	color: #4bc970;
}
form{
	box-sizing: border-box;
	font-size: 20px;
	max-width: 480px;
	margin: 10px auto;
	padding: 10px 20px;
	border-radius: 10px;
}
.kotak_judul{
	background-color: #fff;
	width: 76%;
	height: 240px;
	border-radius: 3px;
	padding-top: 0;
	margin: 0 auto;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.judul{
	display: inline-block;
	margin-top: 45px;
	margin-bottom: 0px;
	margin-left: 42%;
	font-size: 60px;
    text-shadow: 4px 3px 0px #ffffff, 9px 8px 0px rgba(0, 0, 0, 0.1);
    
}
.sosmed{
	margin-top: 0px;
	text-align: center;

}
.fab{
	
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
   	padding: 0.5em;
}
nav{
	width: 76%;
	height: 62px;
	margin: 0 auto;
	background: #4BC971;
	
}
ul{
	padding-left: 0px;
	background: #4BC971;
	animation: fade 5s ;
}
ul li{
	list-style: none;
	display: inline-block;
	
}
ul li:hover{
	background: #3ac162;
	color: white;

}
ul li a{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
}
ul li a:hover{
	color:white;
}

.badan{
	background-color: #fff;
	width: 76%;
	height: auto;
	border-radius: 3px;
	margin: 16px auto;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
	font-size: 18px;
}
.content{
	padding: 50px 120px;
	text-align: justify;
	color: #3e3e3e;
}
.jdartikel{
	margin-top: 0;
	margin-bottom: 30px;

}
.tulisan{
	line-height: 32px;
}
h1{
	margin: 0 0 30px 0;
	text-align: center;

}
.angka{
	font-size: 18px;
}
input[type="text"]{
    border: none;
    height: auto;
    margin: 0;
    margin-left: 5%;
    outline: 0;
    padding: 15px;
    border-radius: 10px;
    background-color: #f0f0f0;
    color: #3e3e3e;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}
input:focus, textarea:focus{
	box-shadow: 0 0 5px rgba(81,203,238,1);
	border: 1px solid #4BC971;
}
.submit{
	padding: 16px 39px 16px 39px;
	color: white;
	background-color: #4BC971;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 10px;
	margin-left: 7%;
	cursor: pointer;
	border: none;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.submit:hover{
	background-color: #3ac162;
}
.kaki{
	box-sizing: border-box;
	background: #FFEB3B;
	max-width: 480px;
	margin: 10px auto;
	padding: 10px 20px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
}
footer{
	font-size: 18px;
	background-color: #fff;
	width: 76%;
	height: 100px;
	border-radius: 3px;
	margin-top: 16px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.bawah{
	text-align: center;
	padding: 21px;
}