body{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	background-color: #F0F0F0; 
	height: auto;
}
a{
	text-decoration: none;
	color: #3e3e3e;
}
a:hover{
	color: #4bc970;
}
.kotak_judul{
	background-color: #fff;
	width: 76%;
	height: 240px;
	border-radius: 3px;
	padding-top: 0;
	margin: 0 auto;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.judul{
	display: inline-block;
	margin-top: 45px;
	margin-bottom: 0px;
	margin-left: 42%;
	font-size: 60px;
    text-shadow: 4px 3px 0px #ffffff, 9px 8px 0px rgba(0, 0, 0, 0.1);
    
}
.sosmed{
	margin-top: 0px;
	text-align: center;

}
.fab{
	
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
   	padding: 0.5em;
}
nav{
	width: 76%;
	height: 62px;
	margin: 0 auto;
	background-image: linear-gradient(to left, #f9fd18, 45%, #4BC971);
}
ul{
	padding-left: 0px;
	
}
ul li{
	list-style: none;
	display: inline-block;
	
}
ul li:hover{
	background: #3ac162;
	color: white;

}
ul li a{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
}
ul li a:hover{
	color:white;
}
.counter_ {
	position: absolute;
    color: #3e3e3e;
    margin-top: 20px;
    right: 16.9%;

}
.counter_:hover{
	background: transparent;
	color: #3e3e3e;
}
.counter {
    color: red;
    position: absolute;
    display: block;
    float: right;
    color: #3e3e3e;
    top: 260px;
    right: 13.7%;

}
.badan{
	background-color: #fff;
	width: 76%;
	height: auto;
	border-radius: 3px;
	margin: 16px auto;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
	font-size: 18px;
}
.content{
	padding: 50px 120px;
	text-align: justify;
	color: #3e3e3e;
}
.jdartikel{
	margin-top: 0;
	margin-bottom: 0;

}
.tulisan{
	line-height: 32px;
}
footer{
	font-size: 18px;
	background-color: #fff;
	width: 76%;
	height: 100px;
	border-radius: 3px;
	margin-top: 16px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.bawah{
	text-align: center;
	padding: 21px;
}
