*{
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	background-color: #F0F0F0; 
	height: auto;
}
a{
	text-decoration: none;
	color: #3e3e3e;
}
a:hover{
	color: #4bc970;
}
.kotak_judul{
	background-color: #fff;
	width: 76%;
	height: 240px;
	border-radius: 3px;
	padding-top: 0;
	margin: 0 auto;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.judul{
	display: inline-block;
	margin-top: 45px;
	margin-bottom: 0px;
	margin-left: 42%;
	font-size: 60px;
    text-shadow: 4px 3px 0px #ffffff, 9px 8px 0px rgba(0, 0, 0, 0.1);
    
}
.sosmed{
	margin-top: 0px;
	text-align: center;

}
.fab{
	
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
   	padding: 0.5em;
}
nav{
	width: 76%;
	height: 62px;
	margin: 0 auto;
	background: #4bc970;
}
ul{
	padding-left: 0px;
	
}
ul li{
	list-style: none;
	display: inline-block;
	
}
ul li:hover{
	background: #3ac162;
	color: white;

}
ul li a{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
}

ul li a:hover{
	color:white;
}
.badan{
	background-color: #fff;
	width: 76%;
	height: auto;
	border-radius: 3px;
	margin: 16px auto;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
	font-size: 18px;
}
.content{
	padding: 50px 5px;
	color: #3e3e3e;
}
.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.jdartikel{
	margin-top: 0;
	margin-bottom: 0;
}
.jdartikel2{
	margin-top: 90px;
	margin-bottom: 20px;
}
.tulisan{
	line-height: 32px;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.btn-utama {
    color: white;
    background-color: #0181ef;
    border: 1px solid #0272d2;
    border-width: 1px 1px 3px;
    border-radius: 5px;
    font-weight: bold;
}
.btn-utama:hover {
    background-color: #0272d2;
}
.barang {
    margin: 50px;
    width: 200px;
}
.jdperbarang {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}
.gambar-barang {
    height: auto;
    width: 200px;
}
.detail {
    display: grid;
}
.harga {
    flex-grow: 1;
    margin-bottom: 10px;
    text-align: center;
}
.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 18px;
}
.cart-kolom {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #4bc970;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-baris {
    display: flex;
}
.cart-item {
    width: 68%;
}
.cart-harga {
    width: 15%;   
}
.cart-kuantitas {
    width: 17%;
}
.cart-judul-item {
    margin-left: .5em;
    font-size: 18px;
}
.cart-gbr {
    width: 75px;
    height: auto;
    border-radius: 5px;
}
.btn-hapus {
    color: white;
    background-color: #EB5757;
   	border: 1px solid #CC4C4C;
    border-width: 1px 1px 3px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-hapus:hover {
    background-color: #CC4C4C;
}

.cart-kuantitas-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 20px;
}
.cart-baris:last-child {
    border-bottom: 2px solid #4bc970;;
}
.cart-baris:last-child .cart-kolom {
    border: none;
}
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-judul {
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.cart-total-harga {
    font-size: 20px;
}

.btn-beli {
    display: block;
    margin: 40px auto 26px auto;
    font-size: 1.75em;
    background-color: #4bc970;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
}
.btn-beli:hover{
	background-color: #3ac162;
}
footer{
	font-size: 18px;
	background-color: #fff;
	width: 76%;
	height: 100px;
	border-radius: 3px;
	margin-top: 16px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.bawah{
	text-align: center;
	padding: 21px;
}
